### 1번. 분산처리[1009]

1번은 1번, 2번은 2번, 3번은 3번... 등등 10번은 10번, 11번은 1번 이런식으로 나옴

In [ ]:
import sys
input = sys.stdin.readline
n =int(input())

for i in range(n):
    a,b = map(int, input().split())
    if a ==1 or a ==5 or a ==6 :
        print(a)
    elif computer%10 == 0 :
        print(10)
    else:
        print(computer%10)

시간초과뜸

답 보기

In [ ]:
T = int(input())

for _ in range(T):
    a, b = map(int, input().split())
    a = a % 10
    
    if a == 0:
        print(10)
    elif a == 1 or a == 5 or a == 6:
        print(a)
    elif a == 4 or a == 9:
        b = b % 2
        if b == 1:
            print(a)
        else:
            print((a * a) % 10)
    else:
        b = b % 4
        if b == 0:
            print((a**4) % 10 % 10 % 10)
        else:
            print((a**b) % 10 % 10 % 10)

### 2번. 지능형 기차[2455]

In [6]:
month,dd,yyyy,time = map(str,input().split())
month_all= {'January':0,'March':59,'May':120,'July':181,'August':212,
            'October':273,'December':334,
           'February':31,'April':90,'June':151,'September':243,'November':304}

month_all_jun= {'January':0,'March':60,'May':121,'July':182,'August':213,
            'October':274,'December':335,
           'February':31,'April':91,'June':152,'September':244,'November':305}

yyyy = int(yyyy)
if yyyy%4 == 0 : 
    if yyyy%100 == 0 and yyyy%400 != 0:
        today_ = ((month_all[month]-1+int(dd[:-1]))*24*60+
              int(time[:2])*60+int(time[3:]))
        today_all_day = 365*24*60 
        print(today_/today_all_day*100)
    else:
        today_ = ((month_all_jun[month]-1+int(dd[:-1]))*24*60+
          int(time[:2])*60+int(time[3:]))
        today_all_day = 366*24*60 
        print(today_/today_all_day*100)
else:
    today_ = ((month_all[month]-1+int(dd[:-1]))*24*60+
              int(time[:2])*60+int(time[3:]))
    today_all_day = 365*24*60 
    print(today_/today_all_day*100)

May 10, 1981 00:31
35.348363774733635

### 3번. 지능형 기차[2455]

In [7]:
train = []
for _ in range(4):
    a,b = list(map(int, input().split()))
    train.append([a,b])
    
test=[]
for idx,i in enumerate(train):
    if i == train[0]:
        test.append(i[1])
    else:
        test.append(test[idx-1]-i[0]+i[1])
        
print(max(test))

0 32
3 13
28 25
39 0
42

### 4번. 지능형 기차2[2460]

In [2]:
train = []
for _ in range(10):
    a,b = list(map(int, input().split()))
    train.append([a,b])
    
test=[]
for idx,i in enumerate(train):
    if idx == 0:
        test.append(i[1])
    else:
        test.append(test[idx-1]-i[0]+i[1])
        
print(max(test))

0 32
3 13
28 25
17 5
21 20
11 0
12 12
4 2
0 8
21 0
42

### 5번. 행렬 덧셈[2738]

In [ ]:
n,m = map(int, input().split())

list_1 = []
list_2 = []
for _ in range(n):
    list1 = list(map(str, input().split()))
    list_1.append(list1)
for _ in range(n):
    list2 = list(map(str, input().split()))
    list_2.append(list2)   
    
a=[]
for i in range(n):
    for j in range(m):
        a1 = int(list_1[i][j])+int(list_2[i][j])
        a.append(str(a1))
num=0
for i in range(0,n*m,m):
    print(" ".join(a[i:i+m]))

3 3
1 1 1
2 2 2
3 3 3
4 4 4

### 6번. 대회 or 인턴[2875]

In [9]:
n, m, k = map(int, input().split())
result = 0

while n >= 2 and m >= 1 and n + m >= k + 3:
    n -= 2
    m -= 1
    result += 1	# 팀 수는 하나씩 더해준다
print(result)

6 3 2
2

### 7번. 줄임말 만들기[3181]

https://latte-is-horse.tistory.com/200 <- 특정 요소 제거
https://wikidocs.net/15559 <- 리스트 문자열 합치기

In [211]:
seq = list(map(str, input().split()))
stopping = {'i', 'pa', 'te', 'ni', 'niti', 'a', 'ali', 'nego', 'no', 'ili'}


if seq[0] in stopping:
    seq_0 = seq[0]
    seq = [i for i in seq if i not in stopping]
    seq.insert(0,seq_0)
else:
    seq = [i for i in seq if i not in stopping]   
for i in range(len(seq)):
    seq[i] = seq[i][0].upper()

print(''.join(seq))

ali ja sam i jucer jeo
['ali', 'ja', 'sam', 'jucer', 'jeo']
AJSJJ

### 8번. 탄산 음료[5032]

e = 가지고 있는 빈 병 수<br>
f = 그 날 발견한 빈 병 수<br>
c = 새 병으로 바꾸는데 필요한 빈 병 수<br>




* 새 병으로 바꿨는데 다 먹으면 또 빈 병이 된다.

In [5]:
e,f,c = map(int, input().split())
num = 0
bottle_sum = e+f
while True:    
    new_bottle = bottle_sum//c
    num += new_bottle
    bin_bottle = bottle_sum%c
    if new_bottle+bin_bottle < c:
        break
    bottle_sum = new_bottle +bin_bottle
print(num)

9 0 3
4

### 9번. 길면 기차, 기차는 빨라, 빠른 것은 비행기[9493]


시간 = 거리 / 속도

https://codeuniv.tistory.com/6 <- 시간 공식

In [139]:
while True:
    m,a,b = map(int, input().split())
    if m ==0 &a ==0 & b ==0:
        break
    sec = round((m/a - m/b)*3600)
    hours = sec//3600
    sec = sec - hours*3600
    mu = sec//60
    sec = sec - mu*60
       
    print("{0:d}:{1:02.0f}:{2:02.0f}".format(hours, mu, sec))

21 70 80
0:02:15
0 0 0

In [86]:
(21/70 - 21/80)*3600

134.99999999999991

In [85]:
135/3600

0.0375

### 10번. Baseball[10214]

In [63]:
T = int(input()) #테스트 케이스의 수
for _ in range(T):
    score_1 = 0
    score_2 = 0
    for _ in range(9):
        score1, score2 = map(int, input().split())
        score_1 += score1
        score_2 += score2

    if score_1> score_2:
        print("Yonsei")
    elif score_1 < score_2:
        print("Korea")
    else:
        print("Draw")

2
1 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
0 0
Yonsei
2 0
0 2
0 2
0 2
0 2
0 2
0 2
0 2
0 2
Korea

### 11번. 수빈이와 수열[10539]

다시 풀기

In [37]:
n = int(input())
seq = list(map(int, input().split()))

4
3 2 3 5

In [20]:
ans = []
for i in range(1,len(seq)+1):
    print(seq[:i])
    total = sum(seq[:i])
    lenseq = len(seq[:i])
    a = total/lenseq
    ans.append(a)

[1]
[1, 3]
[1, 3, 2]
[1, 3, 2, 6]
[1, 3, 2, 6, 8]

In [21]:
ans

[1.0, 2.0, 2.0, 3.0, 4.0]

In [41]:
n = int(input())
seq = list(map(int, input().split()))
a=[0 for i in range(len(seq))]
a[0] = seq[0]
for i in range(1,n):
    a[i] = seq[i]*(i+1)- sum(a)

for i in range(0,n):
    print(a[i])

4
3 2 3 5
3
1
5
11

In [39]:
a

[3, 1, 5, 11]

### 12번. 시험 감독[13458]

n : 시험장<br>
a : i번째 시험장에 있는 응시자 수

총 감독관 b명, 부감독관은 c명

# 질문

->

In [8]:
import math
n = int(input())
a = list(map(int, input().split()))
b,c  = map(int, input().split())
num2= 0
for i in range(n):
    if a[i]-b<0:
        pass
    else:
        num = math.ceil((a[i]-b)/c)
        num2 += num
    
print(num2+n)

1
1
1 1
1

### 13번. 치킨 두 마리[14489]

In [99]:
a,b  = map(int, input().split())
c = int(input())

if a+b >= 2*c :
    print(a+b-2*c)
else:
    print(a+b)

40000 0
20000
0

-> 처음에 틀린 이유는 if 조건에 >=를 안 해줘서 그렇다

### 14번. 핸드폰 번호 궁합[17202]

In [96]:
a = str(input())
b = str(input())
c =[]
for i in range(len(a)):   
    c.append(a[i]+b[i])
d ="".join(c)

e = []
for i in range(len(d)-1):
    if len(str(int(d[i])+int(d[i+1])))==1:
        e.append(int(d[i])+int(d[i+1]))
    else:
        e.append(str(int(d[i])+int(d[i+1]))[1])
f=[]
for i in range(len(e)-1):
    if len(str(int(e[i])+int(e[i+1])))==1:
        f.append(int(e[i])+int(e[i+1]))
    else:
        f.append(int(str(int(e[i])+int(e[i+1]))[1]))
        
g = []
for i in range(len(f)-1):
    if len(str(f[i]+f[i+1]))==1:
        g.append(f[i]+f[i+1])
    else:
        g.append(int(str(f[i]+f[i+1])[1]))
        
h = []
for i in range(len(g)-1):
    if len(str(g[i]+g[i+1]))==1:
        h.append(g[i]+g[i+1])
    else:
        h.append(int(str(g[i]+g[i+1])[1]))
        
j = []
for i in range(len(h)-1):
    if len(str(h[i]+h[i+1]))==1:
        j.append(h[i]+h[i+1])
    else:
        j.append(int(str(h[i]+h[i+1])[1]))
        
k = []
for i in range(len(j)-1):
    if len(str(j[i]+j[i+1]))==1:
        k.append(j[i]+j[i+1])
    else:
        k.append(int(str(j[i]+j[i+1])[1]))
        
l = []
for i in range(len(k)-1):
    if len(str(k[i]+k[i+1]))==1:
        l.append(k[i]+k[i+1])
    else:
        l.append(int(str(k[i]+k[i+1])[1]))
    
r = []
for i in range(len(l)-1):
    if len(str(l[i]+l[i+1]))==1:
        r.append(l[i]+l[i+1])
    else:
        r.append(int(str(l[i]+l[i+1])[1]))    

        
w = []
for i in range(len(r)-1):
    if len(str(r[i]+r[i+1]))==1:
        w.append(r[i]+r[i+1])
    else:
        w.append(int(str(r[i]+r[i+1])[1]))  
        
w1 = []
for i in range(len(w)-1):
    if len(str(w[i]+w[i+1]))==1:
        w1.append(w[i]+w[i+1])
    else:
        w1.append(int(str(w[i]+w[i+1])[1]))  

w2 = []
for i in range(len(w1)-1):
    if len(str(w1[i]+w1[i+1]))==1:
        w2.append(w1[i]+w1[i+1])
    else:
        w2.append(int(str(w1[i]+w1[i+1])[1])) 
w3 = []
for i in range(len(w2)-1):
    if len(str(w2[i]+w2[i+1]))==1:
        w3.append(w2[i]+w2[i+1])
    else:
        w3.append(int(str(w2[i]+w2[i+1])[1])) 
        
w4 = []
for i in range(len(w3)-1):
    if len(str(w3[i]+w3[i+1]))==1:
        w4.append(w3[i]+w3[i+1])
    else:
        w4.append(int(str(w3[i]+w3[i+1])[1]))
        
w5 = []
for i in range(len(w4)-1):
    if len(str(w4[i]+w4[i+1]))==1:
        w5.append(w4[i]+w4[i+1])
    else:
        w5.append(int(str(w4[i]+w4[i+1])[1])) 

w6=[]
for i in w5:
    w6.append(str(i))
print("".join(w6))

01234567
12345678
02

In [ ]:
l=list(input())
ll=list(input())
lll=[]
for i in range(8):
    lll.append(int(l[i]))
    lll.append(int(ll[i]))  
while True:
    for i in range(len(lll)-1):
        lll[i]=(lll[i]+lll[i+1])%10
    del lll[-1]    
    if len(lll)==2:
        break
print('{}{}'.format(lll[0],lll[1]))

### 15번. 태보태보 총난타[17249]

In [10]:
string = str(input())
left, right = string.split("(^0^)")
print(left.count('@'), right.count('@'))

@===@==@=@==(^0^)==@=@===@

In [15]:
string[:string.find("(^0^)")].count('@')

4

### 16번. 통학의 신[17945]

In [5]:
a,b = map(int, input().split())

for x in range(-1000,1000):
    if (x**2)+(2*a*x)+b == 0:
        print(x, end=" ")

1 1
-1

-> 애매한 점 : 범위?!

### 17번. N,M 찍기[18883]

In [31]:
n,m = map(int, input().split())
number = list(range(1,n*m+1))

num2=[]
for i in number:
    num2.append(str(i))

for i in range(0, n*m, m):
    print(" ".join(num2[i:i+m]))

3 4
1 2 3 4
5 6 7 8
9 10 11 12

### 18번. 수학은 비대면강의입니다[19532]

In [92]:
a,b,c,d,e,f = map(int, input().split())

for i in range(-999, 1000):
    for j in range(-999, 1000):
        if (a*i)+(b*j)==c and (d*i)+(e*j)==f:
            print(i,j)

1 3 -1 4 1 7
2 -1

내가 푼 풀이

In [89]:
from sympy import  solve
from sympy import symbols
a,b,c,d,e,f = map(int, input().split())

x, y = symbols('x y')
equation1 = a*x + b*y - c
equation2 = d*x + e*y - f
a = solve((equation1, equation2), dict=True)
a1 = list(a[0].values())
x1 = a1[0]
y1 = a1[1]

print(x1, '',y1)

2  -1

### 19번. 백발백준하는 명사수[22938]

In [31]:
x1, y1, r1 = map(int, input().split())
x2, y2, r2 = map(int, input().split())
d = (x1-x2)**2+(y1-y2)**2
print('YES' if (r1+r2)**2>d else 'NO')

9 9 1
8 8 3
Yes

### 20번. 영화평가[23278]

In [23]:
n, l, h = map(int, input().split())
score = list(map(int, input().split()))

score = sorted(score)[l:n-h]

print(sum(score)/len(score))

10 2 2
1 1 0 0 1 1 0 1 0 2
0.6666666666666666